<ion-header>

		<ion-buttons start>
			<button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
		</ion-buttons>
		<ion-title>Event Details</ion-title>

</ion-header>

<ion-content>
	
		<ion-item>
			<ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
		</ion-item>

		<ion-item>
			<ion-textarea placeholder="Notes" [(ngModel)]="event.notes" rows="3"></ion-textarea>
		</ion-item>

		 <ion-item>
			<ion-label>Start</ion-label>
			<ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" value="1997-08-04T08:30Z"></ion-datetime> 
      <ion-datetime displayFormat="HH:mm"  pickerFormat="HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label>End</ion-label>
			<ion-datetime presentation="time" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
		</ion-item> -->
<!-- 
		<ion-item>
			<ion-label>Select Room</ion-label>
			<ion-select>
				<ion-option (ionSelect)="optionSelected($event)" *ngFor="let room of rooms$ | async" [value]="room">{{room.name}}</ion-option>
			</ion-select>
		</ion-item> -->
<!-- 

		<ion-item>
			<ion-label>Block Day</ion-label>
			<ion-checkbox [(ngModel)]="event.blockDay" (ionChange)="blockDay($event.value)"></ion-checkbox>
		</ion-item>

		<ion-item>
			<ion-label>All Day?</ion-label>
			<ion-checkbox [(ngModel)]="event.allDay" [disabled]="event.blockDay"></ion-checkbox>
		</ion-item> -->

		<ion-button  color="light" full (click)="presentModal()">
		</ion-button>


	<ion-row>
		<ion-button ion-button color="light" full (click)="testMarker()">
		  Test Marker
	</ion-button>
</ion-row>
	 
	<!-- <ion-button (click)="save()" expand="block" fill="clear" shape="round"> 
			Registrar
		</ion-button>  -->

	


</ion-content>