<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      MIS CONTRATOS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-card *ngFor="let contrato of contratos">
<ion-row>
  <h1>{{contrato.nombre}}</h1>
  <h2>{{contrato.fechaAgenda}}</h2>
  <h3>hora Inicio: {{contrato.horaInicio}}</h3>
  <h3>hora Fin: {{contrato.horaInicio}}</h3>
  <ion-text color="tertiary">
    <h4>{{contrato.estado}}</h4>
  </ion-text>
</ion-row>
        
 
      <ion-button *ngIf="contrato.estado === 'FINALIZADO'" shape="round" color="warning" (click)="calificar()">CALIFICAR</ion-button>
    </ion-card>
  
</ion-content>

<ion-footer>

     
  <app-footer></app-footer>

</ion-footer>
