<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      MIS CONTRATOS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <div class="centrado">
      <ion-text>
        <h1>NOMBRE DEL SERVICIO</h1>
        <h2>FECHA</h2>
        <ion-text color="tertiary">
          <h4>ESTADO</h4>
        </ion-text>
      </ion-text>
      <ion-button shape="round" color="warning" (click)="calificar()">CALIFICAR</ion-button>
    </div>
  
</ion-content>

<ion-footer>

     
  <app-footer></app-footer>

</ion-footer>
