<ion-header>
  <ion-toolbar>
    <ion-title>Gestión Agrupaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

       
        <ion-select [(ngModel)]="agrupacionValue" placeholder ="Mis agrupaciones" >
          <ion-select-option  *ngFor="let agrupacion of catalogoAgrupaciones" [value]="agrupacion" >
            {{agrupacion.nombre}}
          </ion-select-option>
         
        </ion-select>
      
        
        

        <div class="centrado">
          <ion-button (click)="editarAgrupacion()">
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="darBajaAgrupacion()" color="danger">
            <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
          </ion-button>
        </div>

         
        
     
      
        <div class="centrado">
          <ion-button (click)="gestionServiciosAgrupacion()" color="warning" shape="round">Gestion de Servicios de Agrupacion </ion-button>
        </div>
    
  
      
        <div class="centrado">
          <ion-button (click)="contratosAgrupacion()" color="light" shape="round">Contratos de Agrupacion </ion-button>
        </div>


        <div class="centrado">
          <ion-button (click)="crearAgrupacion()" color="success" shape="round">Crear Agrupacion </ion-button>
        </div>
        
     
   
   
 
</ion-content>

<ion-footer>

  <app-footer></app-footer>
</ion-footer>