<ion-content (click)="bloquearSlide()">


  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/portada.jpg">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input name="correo"
                                type="email"
                                [(ngModel)]="loginUser.correo"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Contraseña</ion-label>
                    <ion-input name="contrasena"
                                type="password"
                                [(ngModel)]="loginUser.contrasena"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="success"
                          shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button color="secondary"
                          shape="round"
                          (click)="olvide_mi_contrasena()">
                Olvide mi contraseña
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>

            <!-- AVATAR -->    
            <a (click)="addNewToGallery()">
              <div *ngIf="registroUsuario.foto==null" class="contenedor">
                <img  height="100px" width="100px"    src="/assets/avatars/av-8.png">
                <div class="centrado">Tomar Foto</div>
              </div>
             
              <img *ngIf ="registroUsuario.foto!=null"  height="100px" width="100px" src="{{'data:image/png;base64,' + registroUsuario.foto.fileBase64}}" class="img-responsive">
           
              </a>
            <!-- FORMULARIO DE REGISTRO -->
        
            <form (ngSubmit)="registro ( fRegistro )" #fRegistro="ngForm">
                <ion-row>
                    <ion-col>
                        
                       <ion-card>
                            
                            <ion-item>
                            <ion-label>Correo</ion-label>
                            <ion-input name="correo" 
                                        type="text"
                                        email
                                        required
                                        [(ngModel)]="registroUsuario.correo"
                                        #correoInput = "ngModel"
                                        ></ion-input>
                            </ion-item>
                            <div *ngIf="correoInput.touched && correoInput.dirty">

                              <p *ngIf="correoInput.errors?.required">
                                Este campo es requerido.
                              </p>
                              <p *ngIf="correoInput.errors?.email">
                                Eso no parece un correo.
                              </p>
                            </div>
                            <ion-item>
                            
                            <ion-label>Nombres</ion-label>
                            <ion-input name="nombres"
                                        type="text"
                                        [(ngModel)]="registroUsuario.nombres"
                                        required
                                        minlength="3"
                                        maxlength="30"
                                        #nombresInput = "ngModel"></ion-input>
                            </ion-item>
                            <div *ngIf="nombresInput.touched && nombresInput.dirty">

                              <p *ngIf="nombresInput.errors?.required">
                                Este campo es requerido.
                              </p>
                              <p *ngIf="nombresInput.errors?.minlength">
                                Minimo 3 caracteres.
                              </p>
                              <p *ngIf="nombresInput.errors?.maxlength">
                                Maximo 30 caracteres.
                              </p>
                             
                            </div>
                            <ion-item>
                              <ion-label>Apellidos</ion-label>
                              <ion-input name="apellidos"
                                          type="text"
                                          [(ngModel)]="registroUsuario.apellidos"
                                          required
                                          minlength="3"
                                          maxlength="30"
                                          #apellidosInput = "ngModel"></ion-input>
                            </ion-item>
                            <div *ngIf="apellidosInput.touched && apellidosInput.dirty">

                              <p *ngIf="apellidosInput.errors?.required">
                                Este campo es requerido.
                              </p>
                              <p *ngIf="apellidosInput.errors?.minlength">
                                Minimo 3 caracteres.
                              </p>
                              <p *ngIf="apellidosInput.errors?.maxlength">
                                Maximo 30 caracteres.
                              </p>
                             
                            </div>
                            <ion-item>
                              <ion-label>Fecha Nacimiento</ion-label>
                              <ion-input name="fecha_nacimiento"
                                          type="date"
                                          [(ngModel)]="registroUsuario.fecha_nacimiento"
                                          required></ion-input>
                            </ion-item>
                              

                            <ion-item>
                            <ion-label>Contraseña</ion-label>
                            <ion-input name="contrasena"
                                        type="password"
                                        [(ngModel)]="registroUsuario.contrasena"
                                        minlength="3"
                                        maxlength="30"
                                        #contrasenasInput = "ngModel"
                                        required></ion-input>
                            </ion-item>
                            <div *ngIf="contrasenasInput.touched && contrasenasInput.dirty">

                              <p *ngIf="contrasenasInput.errors?.required">
                                Este campo es requerido.
                              </p>
                            </div>
                            <ion-item>
                              <ion-label>Contraseña</ion-label>
                              <ion-input name="repContrasena"
                                          type="password"
                                          [(ngModel)]="registroUsuario.repContrasena"
                                          (keyup)="validarPasswordsIguales()"
                                          #repContrasenaInput = "ngModel"
                                          required></ion-input>
                              </ion-item>
                              <div *ngIf="repContrasenaInput.touched && repContrasenaInput.dirty">

                                <p *ngIf="validarPasswordsIguales()== true">
                                  Las contraseñas no son las mismas.
                                </p>
                              </div>
                          </ion-card>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="medium"
                      (click)="mostrarRegistro()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="medium"
                    (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>
      
    </ion-row>

    

  </ion-toolbar>
</ion-footer>
