<ion-header no-border>
  <ion-toolbar>
      <ion-title>
      {{titulo}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="disableCrearButton | async" (click)="crearServicio()"
                  [disabled] = "servicio.nombre.length < 1"
                  color="primary">
        CREAR
      </ion-button>
      <ion-button *ngIf="disableEditarButton | async" (click)="actualizarServicio()"
      [disabled] = "servicio.nombre.length < 1"
      color="primary">GUARDAR</ion-button>
    </ion-buttons>

    <!--  -->

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <!-- COMBOS BOX -->
    <ion-item>
      <ion-label position="stacked">ARTE</ion-label>
      <ion-select [(ngModel)]="arteValue" placeholder ="Mis agrupaciones" (ionChange)="cambiarArte($event)" >
        <ion-select-option  *ngFor="let arte of catalogoArtes" [value]="arte" >
          {{arte}}
        </ion-select-option>
       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ACTIVIDAD</ion-label>
      <ionic-selectable
   
    [(ngModel)]="actividadValue"
    [items]="catalogoActividades"
    itemValueField="_id"
    itemTextField="nombre"
    #input 
    [canSearch]="true"
    (onChange)="actividadChange($event)"
    >
  </ionic-selectable>
    </ion-item>
    <!-- FIN -->

    
    <!-- FORMULARIO -->
    <ion-item>
      <ion-label position="stacked">Nombre del servicio</ion-label>
      <ion-input type="text"
                 required
                 [(ngModel)]="servicio.nombre"
                 #nombreInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="nombreInput.touched && nombreInput.dirty">
      <h6 class="ion-text-center" *ngIf="nombreInput.errors?.required">
        Nombre Requerido
      </h6>
    </div>

    <ion-item>
      <ion-label position="stacked">Descripcion del servicio</ion-label>
      <ion-input type="text"
                 required
                 [(ngModel)]="servicio.descripcion"
                 #descripcionInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="descripcionInput.touched && descripcionInput.dirty">
      <h6 class="ion-text-center" *ngIf="descripcionInput.errors?.required">
        Descripcion Requerida
      </h6>
    </div>

    <ion-item>
      <ion-label position="stacked">Valor estimado del servicio</ion-label>
      <ion-input type="text"
                 required
                 [(ngModel)]="servicio.valorEstimado"
                 #valorInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="valorInput.touched && valorInput.dirty">
      <h6 class="ion-text-center" *ngIf="valorInput.errors?.required">
        Valor del servicio Requerido
      </h6>
    </div>

  </ion-list>


  <!-- FOTOS -->
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full"
                  shape="round" (click)="addNewToGallery()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
   
  </ion-row>


  <ion-text color="primary" class="ion-text-center">
    <h3>GALERIA</h3>
  </ion-text>
  <app-galeria-imagenes [listaImagenesInput]="servicio.fotos"></app-galeria-imagenes>

  <ion-button expand="full"
                  shape="round" (click)="reactivarServicio()"
                  color="light">
        <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
        REACTIVAR SERVICIO
      </ion-button>



</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>