<ion-header>
  <ion-toolbar>
    <ion-title>Gestión Servicios {{agrupacion.nombre}}"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode='md' *ngFor="let servicio of listaServicios ">
    
    <ion-card-header>
      <ion-card-title>Nombre del Servicio : {{servicio.nombre}}</ion-card-title>
     
    </ion-card-header>
  
    <ion-card-content>
      Descripcion del Servicio
      <ion-row>
        <ion-col size="8">
          <p>{{servicio.descripcion}} </p>
        </ion-col>
        <ion-col> 
          <img height="300px" width="300px" src="{{'data:image/png;base64,' + servicio.fotos[0].fileBase64}}" class="img-responsive">
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-button>el boton </ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="editarServicio(servicio )">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="darBajaServicio()" color="danger">
          <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminarServicio()" color="danger">
          <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
        </ion-button>
      </ion-row>


      <!-- <ion-buttons>
          <ion-button (click)="opcionesServicio( $event )" color="warning">
            <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-card-content>
  </ion-card>

  <div class="centrado">
    <ion-button (click)="crearServicio()" color="dark" shape="round">Crear Servicio </ion-button>
  </div>


</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>