<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      Agrupacion 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
          <ion-card>

            <ion-card-title>
             
              <ion-card-title class="centrado">{{servicio.nombre}}</ion-card-title>
            </ion-card-title>
          
            <ion-slides pager="true"  *ngIf="servicio && servicio.agrupacion && servicio.agrupacion.fotos">
              <ion-slide  *ngFor="let item of servicio.fotos" class="image-slide">
                <img *ngIf="item.fileBase64" height="300px" width="300px" src="{{'data:image/png;base64,' + item.fileBase64}}" class="img-responsive">
              </ion-slide>
              <ion-label class="centrado">{{servicio.agrupacion.nombre}}</ion-label>
            </ion-slides>
         
       
          </ion-card>
  
         
  
          <ion-card-content class="centrado">
            <ion-label position="up"> </ion-label>
            {{servicio.descripcion}}
          </ion-card-content>

          
       
          <ion-card-content class="centrado">
           <ion-item lines="none">
            <ion-label  class="centrado"  text-warp >
              <strong>  $ {{ servicio.valorEstimado  | number : '1.2-2'}}</strong>
            </ion-label>
           </ion-item> 
          <ion-button (click)="visualizarMas()">{{labelBotonVerMas}} </ion-button>
          </ion-card-content>


    <div class ="Agrupacion"  *ngIf="verMasButton | async">
    <ion-card-subtitle class="centrado">
      Información de {{servicio.agrupacion.nombre}}
    </ion-card-subtitle>
    <ion-slides pager="true"  *ngIf="servicio && servicio.agrupacion && servicio.agrupacion.fotos">
    <ion-slide  *ngFor="let item of servicio.agrupacion.fotos" class="image-slide">
      <img *ngIf="item.fileBase64" height="300px" width="300px" src="{{'data:image/png;base64,' + item.fileBase64}}" class="img-responsive">
    </ion-slide>
   </ion-slides>
    <ion-label class="centrado"> Descripcion</ion-label>
    <p class="centrado">{{servicio.agrupacion.descripcion}} </p>
  </div>
  </div>
  

  <div class="centrado">
    <ion-button shape="round" color="warning" (click)="irAgenda()">Agendar/Reservar Servicio</ion-button>
  </div>
  
  
</ion-content>

<ion-footer>

     
  <app-footer></app-footer>

</ion-footer>