<ion-header no-border>
  <ion-toolbar>
      <ion-title>
      {{titulo}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="disableCrearButton | async" (click)="crearAgrupacion()"
                  [disabled] = "agrupacion.nombre.length < 1"
                  color="primary">
        CREAR
      </ion-button>
      <ion-button *ngIf="disableEditarButton | async" (click)="actualizarAgrupacion()"
      [disabled] = "agrupacion.nombre.length < 1"
      color="primary">EDITAR</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text"
                 required
                 [(ngModel)]="agrupacion.nombre"
                 #nombreInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="nombreInput.touched && nombreInput.dirty">
      <h6 class="ion-text-center" *ngIf="nombreInput.errors?.required">
        Nombre de Agrupacion requerido
      </h6>
    </div>

    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-input type="text"
                 required
                 [(ngModel)]="agrupacion.descripcion"
                 #descripcionInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="descripcionInput.touched && descripcionInput.dirty">
      <h6 class="ion-text-center" *ngIf="descripcionInput.errors?.required">
        Descripcion requerida
      </h6>
    </div>

    <ion-item>
      <ion-label position="stacked">Num. Integrantes</ion-label>
      <ion-input type="number"
                 required
                 [(ngModel)]="agrupacion.numintegrantes"
                 #numIntegrantesInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="numIntegrantesInput.touched && numIntegrantesInput.dirty">
      <h6 class="ion-text-center" *ngIf="numIntegrantesInput.errors?.required">
        Numero de integrantes minimo: 1
      </h6>
      <h6 class="ion-text-center" *ngIf="numIntegrantesInput.value == 0">
        Numero de integrantes no puede ser 0
      </h6>
    </div>

   <ion-item>
      <ion-label position="stacked">Tiempo Existente en Meses</ion-label>
      <ion-input type="number"
                 required
                 [(ngModel)]="agrupacion.tiempoexistente"
                 #tiempoExistenteInput = "ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="tiempoExistenteInput.touched && tiempoExistenteInput.dirty">
      <h6 class="ion-text-center" *ngIf="tiempoExistenteInput.errors?.required">
        Minimo: 1 mes
      </h6>
      <h6 class="ion-text-center" *ngIf="tiempoExistenteInput.value == 0">
        Minimo: 1 mes
      </h6>
    </div>



  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round" (click)="addNewToGallery()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"  (click)="openDialog()">
                  <ion-icon name="add-circle"></ion-icon>
        Subir fotos
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-card-subtitle> GALERIA</ion-card-subtitle>
 <app-galeria-imagenes [listaImagenesInput]="agrupacion.fotos"></app-galeria-imagenes>


</ion-content>

<ion-footer>

     
  <app-footer></app-footer>

</ion-footer>