<ion-header no-border>
  <ion-toolbar>
      <ion-title>
      {{titulo}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="disableCrearButton | async" (click)="crearAgrupacion()"
                  [disabled] = "agrupacion.nombre.length < 1"
                  color="primary">
        CREAR
      </ion-button>
      <ion-button *ngIf="disableEditarButton | async" (click)="actualizarAgrupacion()"
      [disabled] = "agrupacion.nombre.length < 1"
      color="primary">EDITAR</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-textarea [(ngModel)]="agrupacion.nombre"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="agrupacion.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Num. Integrantes</ion-label>
      <ion-textarea [(ngModel)]="agrupacion.numintegrantes"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tiempo Existente</ion-label>
      <ion-textarea [(ngModel)]="agrupacion.tiempoexistente"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Suscripcion</ion-label>
      <ion-textarea [(ngModel)]="agrupacion.estasuscrito"></ion-textarea>
    </ion-item>

   
    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner name="lines-small"></ion-spinner>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-list>


  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round" (click)="addNewToGallery()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"  (click)="openDialog()">
                  <ion-icon name="add-circle"></ion-icon>
        Subir fotos
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-card-subtitle> GALERIA</ion-card-subtitle>
  <img height="300px" width="300px" src="{{'data:image/png;base64,' + srcJoya}}" class="img-responsive">
 <app-galeria-imagenes [listaImagenesInput]="agrupacion.fotos"></app-galeria-imagenes>


</ion-content>