<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      Marketplace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label position="stacked">ARTE</ion-label>
    <ion-select [(ngModel)]="arteValue" placeholder ="Artes" (ionChange)="cambiarArte($event)" >
      <ion-select-option  *ngFor="let arte of catalogoArtes" [value]="arte" >
        {{arte}}
      </ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">ACTIVIDAD</ion-label>
    <ionic-selectable
 
  [(ngModel)]="actividadValue"
  [items]="catalogoActividades"
  itemValueField="_id"
  itemTextField="nombre"
  #input 
  [canSearch]="true"
  (onChange)="actividadChange($event)"
  >
 
</ionic-selectable>
<ion-button (click)="buscar()" > Buscar</ion-button>
  </ion-item>
  <div class="centrado">
    <ion-button (click)="mostrarContratos()" shape="round"  color="warning">
      CONTRATOS
    </ion-button>
  </div>
 

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Refresher-->

  <!-- Agrupaciones-->
  
  <!-- <app-agrupaciones [agrupaciones] = "agrupaciones">  </app-agrupaciones> -->
  <app-servicios  [servicios]= "servicios" [promedios]="promedios"></app-servicios>

  <!-- Infinite Scroll de agrupaciones -->
  <ion-infinite-scroll  [disabled] = "!habilitado"
                        threshold="150px" 
                        (ionInfinite)="siguientesServicios($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- -->

  
</ion-content>

<ion-footer>

     
    <app-footer></app-footer>

  </ion-footer>