<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      Marketplace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="centrado">
    <ion-button (click)="mostrarContratos()" shape="round"  color="warning">
      CONTRATOS
    </ion-button>
  </div>
 

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Refresher-->

  <!-- Agrupaciones-->
  
  <!-- <app-agrupaciones [agrupaciones] = "agrupaciones">  </app-agrupaciones> -->
  <app-servicios  [servicios]= "servicios" [promedios]="promedios"></app-servicios>

  <!-- Infinite Scroll de agrupaciones -->
  <ion-infinite-scroll  [disabled] = "!habilitado"
                        threshold="150px" 
                        (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- -->

  
</ion-content>

<ion-footer>

     
    <app-footer></app-footer>

  </ion-footer>