.image-slide {
    width: 100%;
    height: 250px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centrado {
    text-align: center;
}

.color2 {
    color: chocolate;
}
ion-card {
    height: 280px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}