<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="crearCuentaBancaria()" color="primary">
        CREAR
      </ion-button>
      <ion-button (click)="actualizarCuentaBancarua()" color="primary">
        EDITAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Banco</ion-label>
    <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.banco"
               #bancoInput = "ngModel">
    </ion-input>
  </ion-item>
  <div *ngIf="bancoInput.touched && bancoInput.dirty">
    <h6 class="ion-text-center" *ngIf="bancoInput.errors?.required">
      Nombre del Banco Necesario
    </h6>
  </div>

  <ion-item>
    <ion-label position="stacked">Tipo de Cuenta</ion-label>
    <!-- <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.tipodecuenta"
               #tipodecuentaInput = "ngModel">
    </ion-input> -->
   
    <ion-list slot="end">
      <ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
   
    
  </ion-item>
  <!-- <div *ngIf="tipodecuentaInput.touched && tipodecuentaInput.dirty">
    <h6 class="ion-text-center" *ngIf="tipodecuentaInput.errors?.required">
      Tipo de Cuenta Necesaria
    </h6>
  </div> -->

  <ion-item>
    <ion-label position="stacked">Cuenta Bancaria</ion-label>
    <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.numcuenta"
               #numcuentaInput = "ngModel">
    </ion-input>
  </ion-item>
  <div *ngIf="numcuentaInput.touched && numcuentaInput.dirty">
    <h6 class="ion-text-center" *ngIf="numcuentaInput.errors?.required">
      Numero de Cuenta Necesaria
    </h6>
  </div>

  <ion-item>
    <ion-label position="stacked">CI Cuenta</ion-label>
    <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.cicuenta"
               #ciInput = "ngModel">
    </ion-input>
  </ion-item>
  <div *ngIf="ciInput.touched && ciInput.dirty">
    <h6 class="ion-text-center" *ngIf="ciInput.errors?.required">
      CI de Cuenta Necesaria
    </h6>
  </div>


</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>