<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="disableCrearButton | async" (click)="crearCuentaBancaria()" color="primary">
        CREAR
      </ion-button>
      <ion-button *ngIf="disableEditarButton | async" (click)="actualizarCuentaBancaria()" color="primary">
        EDITAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Banco:</ion-label>
    <ion-select [(ngModel)]="cuentaBancaria.banco" placeholder ="Seleccione el banco" >
      <ion-select-option  *ngFor="let banco of bancos" [value]="banco" >
        {{banco}}
      </ion-select-option>
    
    </ion-select>
  </ion-item> 


  <ion-item>

    <ion-label position="">Tipo de Cuenta</ion-label>
      <ion-radio-group value="biff" [(ngModel)]="cuentaBancaria.tipoCuenta">
        
        <ion-item>
          <ion-label>CORRIENTE</ion-label>
          <ion-radio slot="start" value="CORRIENTE"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>AHORROS</ion-label>
          <ion-radio slot="start" value="AHORROS"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>
  <!-- <div *ngIf="tipodecuentaInput.touched && tipodecuentaInput.dirty">
    <h6 class="ion-text-center" *ngIf="tipodecuentaInput.errors?.required">
      Tipo de Cuenta Necesaria
    </h6>
  </div> -->

  <ion-item>
    <ion-label position="stacked">Cuenta Bancaria</ion-label>
    <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.cuentaBancaria"
               #numcuentaInput = "ngModel">
    </ion-input>
  </ion-item>
  <div *ngIf="numcuentaInput.touched && numcuentaInput.dirty">
    <h6 class="ion-text-center" *ngIf="numcuentaInput.errors?.required">
      Numero de Cuenta Necesaria
    </h6>
  </div>

  <ion-item>
    <ion-label position="stacked">CI Cuenta</ion-label>
    <ion-input type="text"
               required
               [(ngModel)]="cuentaBancaria.CIBancaria"
               #ciInput = "ngModel">
    </ion-input>
  </ion-item>
  <div *ngIf="ciInput.touched && ciInput.dirty">
    <h6 class="ion-text-center" *ngIf="ciInput.errors?.required">
      CI de Cuenta Necesaria
    </h6>
  </div>


</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>