<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
    </ion-buttons>

    <ion-title>
      CONTRATOS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of listAgenda">

     <ion-row>
      <ion-col size="6"> 
        <ion-item lines="none">
          <ion-label position="stacked">Evento</ion-label>
         <p class="text"> {{item.nombre}}</p>
        </ion-item>
      </ion-col>
      <ion-col size="6"> 
        <ion-item lines="none">
          <ion-label position="stacked">Cliente</ion-label>
         <p class="text">{{ item.cliente.nombres }} {{item.cliente.apellidos}}</p>
        </ion-item>
      </ion-col>

     

     </ion-row>
     <ion-row>
      <ion-col size="6"> 
        <ion-item lines="none">
          <ion-label position="stacked">Estado</ion-label>
         <p class="text"> {{item.estado}}</p>
        </ion-item>
      </ion-col>
      <ion-col size="6"> 
        <ion-item lines="none">
          <ion-label position="stacked">Fecha</ion-label>
         <p class="text"> {{item.fechaAgenda | date: 'dd-MM-yyyy'}}</p>
        </ion-item>
      </ion-col>
     

     </ion-row>
<ion-row>
  <ion-col size="6"> 
    <ion-item lines="none">
      <ion-label position="stacked">Inicio</ion-label>
     <p class="text">{{item.horaInicio  | date: 'shortTime'}}</p>
    </ion-item>
  </ion-col>

  <ion-col size="6"> 
    <ion-item lines="none">
      <ion-label position="stacked">Fin</ion-label>
     <p class="text">  {{item.horaFin | date: 'shortTime'}}</p>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col size ="12" >
    <ion-item lines="none"  >
      <ion-button class="centrado" (click)="verUbicacion(item)">Ver ubicacion <ion-icon slot="start" name="locate-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-col>
 
</ion-row>
<ion-row> 
    <ion-button class="centrado" shape="round" color="success" *ngIf="item.estado==='PENDIENTE'" (click)="aceptarEvento(item)">ACEPTAR</ion-button>
    <ion-button class="centrado" shape="round" color="danger"   *ngIf="item.estado==='PENDIENTE'" (click)="rechazarEvento(item)">RECHAZAR</ion-button>
    <ion-button class="centrado" shape="round" color="warning" *ngIf="validarSiYaFinalizo(item.horaFin) && item.estado==='CONFIRMADO' " (click)="finalizarEvento(item)">FINALIZAR</ion-button>
  
</ion-row>  
  </ion-card>
  
</ion-content>

<ion-footer>

     
  <app-footer></app-footer>

</ion-footer>
